.App {
  display: flex;
  gap: 20px;
  padding: 50px 0;
  box-sizing: border-box;
  width: 1024px;
  margin: 0 auto;
}

.users {
  border: 1px solid black;
}

.users__item {
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.users__item:last-child {
  border: none;
}

.users__item:hover,
.users__active {
  background: blue;
  color: white;
}

